/* You can add global styles to this file, and also import other style files */
body{
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-image: url("https://i.redd.it/wiwjbojfj6921.jpg");
 background-repeat: no-repeat;
background-size: cover;
}